@font-face {
	font-family: Brooklyn Bold;
	font-display: swap;
	src: url("../fonts/Brooklyn Bold.woff2") format("woff2"), url("../fonts/Brooklyn Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Brooklyn Normal;
	font-display: swap;
	src: url("../fonts/Brooklyn Normal.woff2") format("woff2"), url("../fonts/Brooklyn Normal.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Brooklyn SemiBold;
	font-display: swap;
	src: url("../fonts/Brooklyn SemiBold.woff2") format("woff2"), url("../fonts/Brooklyn SemiBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
